* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #000;
}

/* Promo Bar */
.promo-bar {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.promo-bar a {
    color: #fff;
    text-decoration: underline;
}

/* Navbar */
.navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;

}

.nav-right span {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.shopnow {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    padding-top: 16px;
    padding-right: 100px;
    padding-bottom: 16px;
    padding-left: 100px;
    gap: 12px;
    range: 0 deg;
    opacity: 1;
}

/* Brands */
.brands {
    background: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
}

/* New Arrivals */
.new-arrivals {
    padding: 20px;
}
.new-arrivals h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.product-card {
    width: 45%;
    text-align: center;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.product-name {
    margin: 10px 0 5px;
    font-weight: 600;
}
.rating {
    color: #f2b600;
}
.price,
.new-price {
    font-weight: 700;
}
.old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 5px;
}
.discount {
    color: red;
    margin-left: 5px;
}

.new-arrivals button {
  background: #222;
  color: #fff;
  border: none;
  padding: 9px 22px;
  border-radius: 17px;
  font-weight: 700;
  font-size: 1em;
  margin: 20px auto 10px auto;
  display: block;
  cursor: pointer;
  flex-wrap: wrap;
}
.new-arrivals button:hover { background: #333; }


@font-face {
  font-family: 'VersaceFont';
  src: url('/fonts/RadiantMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'ZaraFont';
  src: url('/fonts/Didot.ttf') format('truetype');
}

@font-face {
  font-family: 'GucciFont';
  src: url('/fonts/GranjonRoman.ttf') format('truetype');
}

@font-face {
  font-family: 'PradaFont';
  src: url('/fonts/EngraversRoman.ttf') format('truetype');
}

@font-face {
  font-family: 'CalvinKleinFont';
  src: url('/fonts/HelveticaNeueLight.ttf') format('truetype');
}
